@use "../theme.scss";

.initiative-panel {
  @include theme.side-panel-style;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-height: 100vh;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    overflow-y: auto;
    overflow-x: visible;
    height: 70%;
  }
}

.initiative-panel__card-wrapper {
  position: relative;
  width: 100%;
  z-index: 0;
  min-height: 90px;
  overflow: hidden;
}

.initiative-panel__card {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  clip-path: polygon(0 0, 100% 0, 95% 100%, 0 100%);
  overflow: hidden;

  background: white;

  border-bottom: 3px solid black;
  border-top: 3px solid black;

  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 77.5%,
    rgba(0, 0, 0, 0) 100%
  );

  &__main {
    border-left: 5px solid theme.$colour-main;
  }
  &__npc {
    border-left: 5px solid theme.$colour-npc;
  }
  &__enemy {
    border-left: 5px solid theme.$colour-enemy;
  }
}

.initiative-panel__card img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 20%;

  z-index: 0;
}

.initiative-panel__meta {
  position: absolute;
  left: 10px;
  bottom: 8px;
  z-index: 10;
  padding: 15px 5px 0% 5px;
  height: 100%;
  box-sizing: border-box;
  color: white;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.initiative-panel__init {
  font-size: 14px;
  font-weight: 700;
  color: white;

  @include theme.text-glow-shadow;
}

.initiative-panel__meta__footer {
  display: flex;
  flex-direction: row;
  width: 85%;
  align-items: center;
  justify-content: space-between;

  button {
    @include theme.gold-border-button;
  }
}

.initiative-panel__name {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: start;
  width: 80%;

  @include theme.text-glow-shadow;
}

.dice {
  position: absolute;
  pointer-events: none;

  top: 50%;
  right: 10px;

  transform: translateY(-50%);

  width: 75px;
  height: 75px;

  z-index: 100;
  color: black;

  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 0.5px solid rgba(116, 116, 116, 0.589);

  clip-path: polygon(
    50% 0%,
    90% 20%,
    100% 60%,
    75% 100%,
    25% 100%,
    0% 60%,
    10% 20%
  );

  font-weight: bold;
  font-size: 32px;

  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
  animation: rollIn 0.6s ease-out;
}

@keyframes rollIn {
  0% {
    transform: translateY(-50%) translateX(-100px) rotate(-720deg) scale(0.5);
    opacity: 0;
  }

  70% {
    transform: translateY(-50%) translateX(10px) rotate(-90deg) scale(1.1);
    opacity: 1;
  }

  100% {
    transform: translateY(-50%) translateX(0) rotate(0deg) scale(1);
    opacity: 1;
  }
}

.initiative-panel__card-wrapper--active {
  img {
    animation: pulse 1.5s ease-in-out infinite;
  }
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }
}

.initiative-panel__card__dead {
  filter: grayscale(1);
}
