$primary-colour: #c19b5f;
$color-surface: #2a2a2a;
$color-accent: #c9a227;
$color-text: #f5f5f5;

$colour-main: #4da3ff;
$colour-enemy: #e24b4b;
$colour-npc: #4cc38a;
$colour-factions: #d4b15a;
$colour-gold: #d4b15a;

@mixin text-glow-shadow {
  text-shadow:
    2px 0 0 #000,
    -2px 0 0 #000,
    0 2px 0 #000,
    0 -2px 0 #000;
}

@mixin image-hover-zoom($scale: 1.2, $duration: 0.5s) {
  &:hover img {
    transform: scale($scale);
  }

  img {
    transition: transform $duration ease;
  }
}

@mixin gold-border-button {
  background: #222;
  border-radius: 12px;
  padding: 5px;
  border: 2px solid $colour-gold;
  transition: all 320ms ease;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;

  &:hover {
    background: $colour-gold;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }
}

@mixin side-panel-style {
  padding-top: 3rem;
  width: 66%;
  height: 100%;
  box-sizing: border-box;
  z-index: 100;
}

@font-face {
  font-family: "Dungeon";
  src: url("/vite-project/public/font/DUNGRG__.woff2") format("woff2");
}

* {
  font-family: "Press Start 2P", cursive;
  color: #f3e8c8;
}

h1 {
  font-family: "Press Start 2P", cursive;
  color: #2b2118;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-size: 32px;

  &::after {
    content: "";
    display: block;
    height: 3px; /* thicker */
    margin-top: 0.25rem;
    background: linear-gradient(
      to right,
      transparent,
      #1f1a17 10%,
      #1f1a17 90%,
      transparent
    );
    filter: drop-shadow(0 1px 0 rgba(0, 0, 0, 0.2));
  }
}
